.download {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 10px;
  z-index: 10;
  opacity: 0;
  transition: 0.4s opacity;
  width: 20px;
  height: 20px;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAEKADAAQAAAABAAAAEAAAAAA0VXHyAAAA+UlEQVQ4EbWTMQ4BURCGdxGiULAUDqChcgmlVukOzkDiKjqdUuIoCh0SUbHJ+mbzJmYfNiviJX/mn3/+N5md3Q2CH08o95MkaXp9rmEY3tEX6HX4DF6BN6wP/VxywoloMbZGx0eeR/yBdNXThRxdEqto4gZedXmbeBBuG9xlbGd4CdQSxLTO49zUoI+g+dfxPw0YcQ76Og68B5aa2/hpgj2mLRiCAdiBdGnE10N3OZGtkE/ADcRg6tUiNFlq5i1YT8DWV3guiDX4OlP0E+nGyUzge2wuXrkg2qcdWH8utx9Sh6blXPez2FKqP1M6jopFI7tJ7xf1v/U9AC+laQnxDjWOAAAAAElFTkSuQmCC);
  background-size: 100% 100%;
}
.download:hover {
  opacity: 1;
}
